In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Predicting Sofia real estate prices

The project is focused on predicting real estate prices in Sofia, Bulgaria. With the growing interest in the real estate market and increasing complexity of property values, our goal is to leverage historical data to forecast future prices. Understanding and predicting real estate prices can provide valuable insights for buyers, sellers, investors, and policymakers.

The real estate market in Sofia, Bulgaria, is constantly changing. Understanding how property prices are influenced and predicting future values is important for everyone involved in buying, selling, or investing in real estate. This project aims to forecast property prices in Sofia using historical data to help people make better decisions in the real estate market.

By analyzing past transactions and key factors that affect property values—such as location, size, and property features—we will develop a model to predict future prices. My goal is to provide clear, accurate predictions that can guide buyers, sellers, and investors in making informed choices.

This project is a significant step towards improving my understanding of Sofia’s real estate market. With the help of data-driven insights, I hope to make it easier for people to navigate the complexities of property pricing and find valuable opportunities in the market.

### The goals of the project:
- To understand the key drivers of real estate prices in Sofia.
- To build and evaluate a machine learning model that can predict property prices.

### Why this problem is important?

__1. Importance for Investors__: <br/>
- Maximizing Returns: Real estate is one of the most significant and stable forms of investment. Investors rely on accurate price predictions to identify undervalued properties, time their purchases, and decide on the most profitable resale opportunities. By predicting future prices, investors can optimize their portfolios, maximize returns, and mitigate risks.
- Market Timing: For investors, knowing when to buy or sell is crucial. Accurate price predictions can help investors time the market effectively, allowing them to buy properties before prices increase and sell before a downturn. This timing can significantly affect the profitability of real estate investments.
- Diversification and Risk Management: Understanding price trends in different neighborhoods or property types allows investors to diversify their portfolios. They can spread their investments across various segments of the market, reducing the risk of exposure to price volatility in any single area.

__2. Importance for Homebuyers:__ <br/>
- Affordability and Budgeting: For most people, buying a home is the largest financial commitment they will make in their lifetime. Predicting future prices helps homebuyers understand market trends, ensuring they purchase at the right time to get the best value for their money. It also helps them budget accurately for future financial planning, such as mortgage payments and maintenance costs.
- Avoiding Overpayment: Accurate predictions can prevent homebuyers from overpaying in a competitive market. By understanding the fair value of properties, buyers can make informed decisions, avoid bidding wars, and negotiate better deals.
- Long-term Financial Planning: Homebuyers need to consider the long-term value of their investment. Predictions about property prices can guide them in choosing neighborhoods with strong potential for appreciation, ensuring that their home not only meets their immediate needs but also grows in value over time.

__3. Importance for Urban Planners and Policy Makers:__ <br/>
- Sustainable Urban Development: Urban planners rely on real estate price predictions to make informed decisions about zoning, infrastructure development, and public services. By understanding where prices are likely to rise, planners can allocate resources efficiently, ensuring sustainable growth and avoiding overdevelopment or underdevelopment in specific areas.
- Economic Policy and Housing Affordability: Accurate price predictions are crucial for developing policies that address housing affordability and social equity. Policymakers can use these predictions to implement measures such as affordable housing initiatives, rent controls, and tax incentives to stabilize markets and prevent housing bubbles.
- Infrastructure Planning: Understanding future real estate trends helps in planning for infrastructure needs, such as transportation, schools, and healthcare facilities. By anticipating areas of growth, urban planners can ensure that necessary services are in place to support population increases, thereby enhancing the quality of life for residents.

__4. Importance for the Broader Economy:__ <br/>
- Economic Stability: The real estate market is a significant component of the economy. Price fluctuations can impact consumer spending, banking stability, and overall economic health. Accurate predictions help prevent housing market bubbles, which, if left unchecked, could lead to economic recessions, as seen in the 2008 financial crisis (Global Financial Crisis (GFC) ).
- Employment and Industry Growth: The construction, finance, and retail sectors are closely tied to the real estate market. Predicting price trends allows businesses in these industries to plan for demand, hire appropriately, and make investments in their operations, contributing to overall economic growth.

In summary, real estate price prediction is a critical tool for a wide range of stakeholders. It empowers investors to maximize returns, enables homebuyers to make informed decisions, assists urban planners in managing growth sustainably, and supports policymakers in maintaining economic stability. Accurate predictions contribute to the health and efficiency of the real estate market and, by extension, the broader economy.

## Description of Datasets:
The websites that I used: __https://www.imoti.net/bg__  and __https://www.imot.bg/__ .


### Dataset 1: Historical Real Estate Prices from imoti.net
Description: This dataset provides historical real estate price data from imoti.net, including the following details:

- Location: The area or district where the property is located.
- Total Price (EUR): The overall cost of the property.
- Price per Square Meter (EUR/m²): The cost per square meter of the property.
- Property Type: The type of property (e.g., apartment, house, commercial).
- Date: The date when the price data was recorded.

### Dataset 2: Historical Real Estate Prices from imot.bg
Description: This dataset contains historical real estate price data from imot.bg, including the following details:

- Location: The specific area or district in Sofia, Bulgaria.
- One-Bedroom Apartments:
    - Total Price (EUR)
    - Price per Square Meter (EUR/m²)
- Two-Bedroom Apartments:
    - Total Price (EUR)
    - Price per Square Meter (EUR/m²)
- Three-Bedroom Apartments:
    - Total Price (EUR)
    - Price per Square Meter (EUR/m²)
- Date: The date when the data was recorded, indicating the time frame for each entry.

## Exploratory Data Analysis (EDA): 
Let's perform an EDA to understand the distribution, relationships, and outliers in THE data.

### And now we will read the first dataset. 
Actually inside it there are 3 files. We will read them and save in variables:

In [2]:
df_2022 = pd.read_csv("data/property_prices_july_2022.csv")
df_2023 = pd.read_csv("data/property_prices_july_2023.csv")
df_2024 = pd.read_csv("data/property_prices_july_2024.csv")

Let's have a look in everyone:

In [3]:
df_2022

,Район,Цена,Цена / кв.м.,Валута,Тип Апартамент,Дата
0,Банишора,110201.52,1710.14,EUR,Двустаен апартамент,2022-07-28
1,Белите Брези,148125.00,1949.01,EUR,Двустаен апартамент,2022-07-28
2,Борово,141912.50,2120.07,EUR,Двустаен апартамент,2022-07-28
3,Бояна,167608.23,1888.09,EUR,Двустаен апартамент,2022-07-28
4,Бъкстон,109764.43,1869.47,EUR,Двустаен апартамент,2022-07-28
...,...,...,...,...,...,...
284,Хаджи Димитър,205000.00,1102.15,EUR,Многостаен апартамемент,2022-07-28
285,Хиподрума,377277.50,1326.89,EUR,Многостаен апартамемент,2022-07-28
286,Хладилника,460016.66,2115.02,EUR,Многостаен апартамемент,2022-07-28
287,Център,529647.62,2792.63,EUR,Многостаен апартамемент,2022-07-28
288,Яворов,650000.00,2826.09,EUR,Многостаен апартамемент,2022-07-28

In [4]:
df_2023

,Район,Цена,Цена / кв.м.,Валута,Тип Апартамент,Дата
0,7-ми 11-ти километър,112150.66,1654.68,EUR,Двустаен апартамент,2023-07-28
1,Банишора,118202.97,1754.77,EUR,Двустаен апартамент,2023-07-28
2,Банкя (гр.),108600.00,1428.95,EUR,Двустаен апартамент,2023-07-28
3,Белите Брези,162233.00,2015.32,EUR,Двустаен апартамент,2023-07-28
4,Бенковски,94900.00,1395.59,EUR,Двустаен апартамент,2023-07-28
...,...,...,...,...,...,...
326,Хаджи Димитър,239000.00,2489.58,EUR,Многостаен апартамемент,2023-07-28
327,Хиподрума,445521.66,1265.69,EUR,Многостаен апартамемент,2023-07-28
328,Хладилника,490580.00,2063.43,EUR,Многостаен апартамемент,2023-07-28
329,Център,528999.94,2577.88,EUR,Многостаен апартамемент,2023-07-28
330,Яворов,609725.00,3010.99,EUR,Многостаен апартамемент,2023-07-28

In [5]:
df_2024

,Район,Цена,Цена / кв.м.,Валута,Тип Апартамент,Дата
0,Банишора,134653.98,1987.51,EUR,Двустаен апартамент,2024-07-28
1,Банкя (гр.),131843.00,1890.84,EUR,Двустаен апартамент,2024-07-28
2,Белите Брези,249900.00,2108.86,EUR,Двустаен апартамент,2024-07-28
3,Бенковски,115863.50,1782.52,EUR,Двустаен апартамент,2024-07-28
4,Борово,135594.22,2148.50,EUR,Двустаен апартамент,2024-07-28
...,...,...,...,...,...,...
329,Суха Река,303037.00,1864.02,EUR,Многостаен апартамемент,2024-07-28
330,Хаджи Димитър,331999.50,2049.38,EUR,Многостаен апартамемент,2024-07-28
331,Хиподрума,446333.00,1410.21,EUR,Многостаен апартамемент,2024-07-28
332,Хладилника,817960.00,2493.78,EUR,Многостаен апартамемент,2024-07-28
333,Център,599582.44,3194.50,EUR,Многостаен апартамемент,2024-07-28

Now we will will combine them in one dataset named __combined_df__:

In [6]:
combined_df = pd.concat([df_2022, df_2023, df_2024], ignore_index=True)

And check it:

In [7]:
combined_df

,Район,Цена,Цена / кв.м.,Валута,Тип Апартамент,Дата
0,Банишора,110201.52,1710.14,EUR,Двустаен апартамент,2022-07-28
1,Белите Брези,148125.00,1949.01,EUR,Двустаен апартамент,2022-07-28
2,Борово,141912.50,2120.07,EUR,Двустаен апартамент,2022-07-28
3,Бояна,167608.23,1888.09,EUR,Двустаен апартамент,2022-07-28
4,Бъкстон,109764.43,1869.47,EUR,Двустаен апартамент,2022-07-28
...,...,...,...,...,...,...
949,Суха Река,303037.00,1864.02,EUR,Многостаен апартамемент,2024-07-28
950,Хаджи Димитър,331999.50,2049.38,EUR,Многостаен апартамемент,2024-07-28
951,Хиподрума,446333.00,1410.21,EUR,Многостаен апартамемент,2024-07-28
952,Хладилника,817960.00,2493.78,EUR,Многостаен апартамемент,2024-07-28
953,Център,599582.44,3194.50,EUR,Многостаен апартамемент,2024-07-28

#### Let's take a closer look at the dataset.

In [10]:
combined_df.shape

(954, 6)

It has 954 observations and 6 features.

In [11]:
combined_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Цена,954.0,249583.736960,270069.988558,6500.0,114245.39,170162.100,281079.7725,3000000.00
Цена / кв.м.,954.0,1843.112956,626.005076,17.4,1479.21,1776.785,2140.8050,7741.38

In [12]:
combined_df.dtypes

Район              object
Цена              float64
Цена / кв.м.      float64
Валута             object
Тип Апартамент     object
Дата               object
dtype: object

In [144]:
def convert_dtypes(df, numeric_columns):
    for col in df:
        if col in numeric_columns:
            df[col] = df[col].str.replace(r'\D', '', regex=True)
            df[col] = pd.to_numeric(df[col], errors='coerce')

            df[col].fillna(df[col].mean(), inplace=True)

        if col == 'Дата':
            df[col] = pd.to_datetime(df[col])
    return df

In [142]:
numeric_columns = [
    'Цена', 
    'Цена / кв.м.', 
    'Валута'
]

# for col in second_df:
#     if col in numeric_columns:
#         second_df[col] = second_df[col].str.replace(r'\D', '', regex=True)
#         second_df[col] = pd.to_numeric(second_df[col], errors='coerce')
        
#         second_df[col].fillna(second_df[col].mean(), inplace=True)
        
#     if col == 'Дата':
#         second_df[col] = pd.to_datetime(second_df[col])

second_df = convert_dtypes(second_df, numeric_columns)

Check the converted format:

In [127]:
combined_df["Дата"]

0     2022-07-28
1     2022-07-28
2     2022-07-28
3     2022-07-28
4     2022-07-28
         ...
949   2024-07-28
950   2024-07-28
951   2024-07-28
952   2024-07-28
953   2024-07-28
Name: Дата, Length: 954, dtype: datetime64[ns]

In [122]:
combined_df.isna().sum()

Район             0
Цена              0
Цена / кв.м.      0
Валута            0
Тип Апартамент    0
Дата              0
dtype: int64

We don't have null values in this dataset.

## Let's read the second dataset

In [137]:
second_df = pd.read_csv("data2/property_prices.csv")

This is it:

In [69]:
second_df

,Район,Едностайни - цена,Едностайни - €/кв.м,Двустайни - цена,Двустайни - €/кв.м,Тристайни - цена,Тристайни - €/кв.м,Общо - €/кв.м,Дата
0,7-ми 11-ти километър,NaN,NaN,145 502,1 675,189 050,1 756,1 745,6.8.2024
1,Банишора,48 978,1 125,104 499,1 679,139 650,1 409,1 598,6.8.2024
2,Белите брези,38 000,826,81 225,1 121,118 749,1 127,1 157,6.8.2024
3,Бенковски,NaN,NaN,70 775,1 488,111 625,1 218,1 335,6.8.2024
4,Борово,50 825,1 057,88 801,1 222,141 550,1 551,1 255,6.8.2024
...,...,...,...,...,...,...,...,...,...
433,с. Мировяне,NaN,NaN,50 350,915,NaN,NaN,851,26.7.2022
434,с. Мрамор,NaN,NaN,68 400,1 140,103 740,1 140,1 140,26.7.2022
435,с. Мърчаево,NaN,NaN,26 600,266,35 862,297,297,26.7.2022
436,с. Панчарево,NaN,NaN,108 878,1 389,159 120,1 134,1 269,26.7.2022
437,с. Световрачене,37 050,771,NaN,NaN,64 600,717,744,26.7.2022

#### Take a closer look at the dataset:

In [119]:
second_df.shape

(438, 9)

It has 439 observations and 9 features.

In [66]:
second_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Район,111.0,2.445946e+01,115.293758,1.0,2.0,3.0,5.00,711.0
Едностайни - цена,326.0,5.680245e+04,20996.521441,13898.0,42750.0,53832.0,66544.25,142500.0
Едностайни - €/кв.м,326.0,1.261466e+03,493.978371,309.0,935.0,1177.0,1512.25,4750.0
Двустайни - цена,404.0,9.572547e+04,40383.455574,18643.0,72657.0,89186.0,109685.50,318250.0
Двустайни - €/кв.м,404.0,1.363970e+03,508.304879,241.0,1114.0,1336.0,1585.50,4579.0
Тристайни - цена,411.0,1.482385e+05,59610.234468,33250.0,109558.5,138225.0,176747.50,446811.0
Тристайни - €/кв.м,411.0,1.412990e+03,466.756556,297.0,1149.5,1362.0,1635.00,3674.0
Общо - €/кв.м,438.0,1.381872e+03,471.487987,297.0,1137.5,1342.0,1603.25,3800.0
Дата,438.0,1.970813e+06,917951.500617,682024.0,682024.0,2572023.0,2672022.00,2672022.0

Let's see the names of the all columns:

In [67]:
second_df.columns

Index(['Район', 'Едностайни - цена', 'Едностайни - €/кв.м', 'Двустайни - цена',
       'Двустайни - €/кв.м', 'Тристайни - цена', 'Тристайни - €/кв.м',
       'Общо - €/кв.м', 'Дата'],
      dtype='object')

And the types now:

In [120]:
second_df.dtypes

Район                          object
Едностайни - цена             float64
Едностайни - €/кв.м           float64
Двустайни - цена              float64
Двустайни - €/кв.м            float64
Тристайни - цена              float64
Тристайни - €/кв.м            float64
Общо - €/кв.м                   int64
Дата                   datetime64[ns]
dtype: object

In [115]:
second_df.isna().sum()

Район                    0
Едностайни - цена      112
Едностайни - €/кв.м    112
Двустайни - цена        34
Двустайни - €/кв.м      34
Тристайни - цена        27
Тристайни - €/кв.м      27
Общо - €/кв.м            0
Дата                     0
dtype: int64

How we see in this dataset we have NaN values. 

First, we'll want to convert the columns containing numerical data from object (string) to appropriate numerical types (e.g., float). This conversion is necessary for performing any numerical operations or analysis. And next we will fill the NaN values with the mean.

In [116]:
numeric_columns = [
    'Едностайни - цена', 
    'Едностайни - €/кв.м', 
    'Двустайни - цена', 
    'Двустайни - €/кв.м', 
    'Тристайни - цена', 
    'Тристайни - €/кв.м', 
    'Общо - €/кв.м'
]

for col in second_df:
    if col in numeric_columns:
        second_df[col] = second_df[col].str.replace(r'\D', '', regex=True)
        second_df[col] = pd.to_numeric(second_df[col], errors='coerce')
        
        second_df[col].fillna(second_df[col].mean(), inplace=True)
        
    if col == 'Дата':
        second_df[col] = pd.to_datetime(second_df[col])

Check the data types again:

In [101]:
second_df.dtypes

Район                          object
Едностайни - цена             float64
Едностайни - €/кв.м           float64
Двустайни - цена              float64
Двустайни - €/кв.м            float64
Тристайни - цена              float64
Тристайни - €/кв.м            float64
Общо - €/кв.м                   int64
Дата                   datetime64[ns]
dtype: object

Check the format of the "Дата" column:

In [118]:
second_df["Дата"]

0     2024-06-08
1     2024-06-08
2     2024-06-08
3     2024-06-08
4     2024-06-08
         ...
433   2022-07-26
434   2022-07-26
435   2022-07-26
436   2022-07-26
437   2022-07-26
Name: Дата, Length: 438, dtype: datetime64[ns]

In [117]:
second_df.isna().sum()

Район                  0
Едностайни - цена      0
Едностайни - €/кв.м    0
Двустайни - цена       0
Двустайни - €/кв.м     0
Тристайни - цена       0
Тристайни - €/кв.м     0
Общо - €/кв.м          0
Дата                   0
dtype: int64

All NaNs have been successfully replaced.